'use strict';

module.exports = {

  // The AWS ARN of the lambda function this will deploy to
  lambdaArn: '',

  // The timezone for TripCase times to be compared with
  // For a list of supported timezones use "npm run list-timezones"
  timezone: 'America/Denver',

  slack: {
    // A Slack incoming webhook URL for making new posts
    webhook: '',
    channel: '#travel'
  },

  // TripCase login credentials
  tripcase: {
    email: 'user@example.com',
    password: 'supersecret'
  }

};

