'use strict';

module.exports = {

  // The AWS ARN of the lambda function this will deploy to
  lambdaArn: '',

  // A Slack incoming webhook URL for making new posts
  slackWebhookUrl: '',

  // TripCase login credentials
  tripcase: {
    email: '',
    password: ''
  }

};

